{% extends "base.html.njk" %}

{% block title %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block content %}
    <h2>Welcome to our Fossil App!</h2>
    <!-- Your homepage content here -->
    <form action="/get-name" method="post">
        <label for="name">Enter Your Name:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Submit</button>
    </form>

    <button id="get-random-fossil">Get Random Fossil</button>
    <div id="random-fossil">
        <p id="random-fossil-name"></p>
        <img id="random-fossil-image" src="" alt="Random Fossil Image">
    </div>
    
    <script src="../src/random-fossil.js"></script>
{% endblock %}
