<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    <h1>Most Liked Fossils</h1>
    
    <!-- Display the user's name if available -->
    <h2>Welcome, {{ userName }}</h2>

    <!-- Loop through and display fossils -->
    {% for fossilKey, fossil in fossils %}
    <div class="top-fossil">
            <h3>{{ userName }}, this is a {{ fossil.name }}</h3>

      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" alt="{{ fossil.name }}" />
    </div>
    {% endfor %}
  </body>
</html>